
.idea/

ckpt/

ckpt_old/

new_ckpt/

debug_vis/

nifty_temp/

atlas/

data/__pycache__/

utils/__pycache__/

model/__pycache__/

.DS_Store

niftyreg_result/

make_diagram/
test_aug/

data/count_ins.py

data/institution.txt

atlas/upper_bound/vis/
